%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_tag(sessions_path) do
        %fieldset
          %header
            %h1 Sign In
            .form-gzroup
              .row
                %label.control-label.col-sm-2
                  = label_tag :email, 'Email Address'
                .col-sm-6
                  = email_field_tag :email, '' , {class:'form-control'}

            .form-group
              .row
                %label.control-label.col-sm-2
                  = label_tag :password
                .col-sm-6
                  = password_field_tag :password, '', {class:'form-control'}
        %fieldset.form-group.action
          = submit_tag 'Sign in', {class:'btn btn-default'}
          = link_to('Forgot Password?', forgot_password_path)
