%section.sign_in.container
  .row
    .col-sm-10.col-sm-offset-1
      = form_for @user, url: sessions_path do |f|
        %fieldset
          %header
            %h1 Sign In
            .form-group
              .row
                %label.control-label.col-sm-2
                  = f.label :email
                .col-sm-6
                  = f.email_field :email, {class:'form-control'}

            .form-group
              .row
                %label.control-label.col-sm-2
                  = f.label :password
                .col-sm-6
                  = f.password_field :password, {class:'form-control'}
        %fieldset.form-group.action
          = f.submit 'Sign in', {class:'btn btn-default'}

-# TODO: link up sign-in form to sessions#create to create a new session for the user.
