%section#top-header.row
  %h1.col-md-2
    = link_to "MyFLiX"
  %ul.col-md-4.clearfix
    %li= link_to "Videos"
    %li= link_to "My Queue"
    %li= link_to "People"
  %form.col-md-5.navbar-form(action=search_videos_path)
    .form-group
      %input.form-control(type="text" placeholder="Search for videos here" name='term')
    %button.btn.btn-default(type="submit") Search
  #user_links.pull-right
    %ul
      %li.dropdown
        %a(href="#" id="dlabel" role="button" data-toggle="dropdown" class="dropdown-toggle" data-target="#")
          - if logged_in?
            Welcome, #{current_user.name_first} #{current_user.name_last}
            %b.caret
            %ul.dropdown-menu(role="menu" aria-labelledby="dlabel")
              %li
                %a(href="#") Account
                %a(href="#") Plan and Billing
                %a(href="#") Sign Out
                = link_to session_path(current_user), method:'DELETE' do
                  = 'Sign out'
          - else
            = link_to sign_in_path do
              = 'Sign In'

-# = render 'shared/flash_errors_notices'
